.nav-wrapper{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    padding: 2rem 3rem;
    box-sizing: border-box;
    background-color: var(--white-bg);
    color: var(text-default-clr);
    /* box-shadow: 0px 10px 15px 4px rgba(0,0,0,0.1); */
    z-index: 999;
}
.nav-items-left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav-logo-container{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
}

.nav-logo{
    width: 100%;
}

.nav-title{
    margin: 0 0.5rem 0 0;
    font-size: 1.2rem;

}
.nav-items-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav-link{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
    margin-left: 0.8rem;
    cursor: pointer;
    color: var(--text-default-clr);
    box-sizing: border-box;
}

.profile-nav-link{
    font-size: 1.2rem;
}

.nav-link:hover{
    border-bottom: 2px solid var(--text-default-clr);
}



.nav-menu-option{
    color: black;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    padding: 0.6rem;
    display: none;
}

.nav-menu-option:hover{
    /* background-color: rgba(213, 213, 213, 0.3); */
    padding: 0.5rem 0.6rem;
    border-radius: 0.2rem;
    outline: 1px solid black;
}

.mobile-search-master-container{
    padding: 1rem 1rem;
    text-align: center;
    background-color: var(--card-bg);   
}

.mobile-search-master-container .search-wrapper {
    width: 90vw;
}


@media screen and (max-width: 800px){
    
    .nav-wrapper{
        padding: 2rem 0.5rem;
    }
    
    .nav-menu-option{
        display: block;
        margin-right: 0.5rem;
    }

    .nav-items-center, .nav-link-lg{
        display: none;
    }
}





