.product-page-container{
    padding: 1rem;
    max-width: 70rem;
    margin:auto;
}

.products-container{
    display: flex;
    flex-direction: column;
}
.products-container-action-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.products-container-info-text{
    font-size: 0.9rem;
    font-weight: 400;
    
}

.products-container-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1.5rem 1rem;
    /* justify-items: center; */
}


@media screen and (max-width:1300px){
    .products-container-content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:500px){
    .products-container-content{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem 0.5rem;
    }
}

