.search-wrapper{
    background-color: var(--search-bar-bg-clr);
    padding: 0.3rem 0.5rem;
    border-radius: 3rem;
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

.search-bar{
    border: none;
    background-color: transparent;
    padding: 0.2rem 0.6rem;
    width: 100%;
}
.search-bar:focus{
    outline: none;
    background-color: transparent;
}

.search-bar-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
}


/* Search Modal */
.search-modal-wrapper{
    position: absolute;
    top: 13rem;
    left: 50%;
    transform:translate(-50%, -50%);
    margin: 0.5rem;
    padding: 1rem;
    width: 30rem;
    min-height: 20rem;
    background-color: var(--card-bg);
    border: 1px solid black;
    border-radius: 0.3rem;
    overflow: hidden;
    overflow-y: auto; 
}
