
.header-gender-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0 5rem 0; 
    flex-wrap: wrap;
}

.header-gender-wrapper-box{
    margin: 1.5rem;
}
.gender-text{
    box-sizing: border-box;
    padding: 0.9rem 2rem;
    overflow: hidden;
    border-radius: 5rem;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.gender-text:hover  {
    background-color: var(--text-default-clr);
    color: var(--text-secondary-clr);
}


/******** Hero container ********/

.hero-container{
    margin: 1rem 0;
}

.hero-img-box{
    width: 100%;
    height: auto;
    overflow: hidden;
    
}

.hero-img{
    object-fit: cover;
}


.hero-text-container{
    margin: 2rem 0;
}

.hero-heading-text{
    margin: 0;
    font-weight: 900;
    font-size: 3.5rem;
}
.hero-para{
    color: var(--text-grey);
    font-weight: 400;
    font-size: 1.1rem;
    margin: 1rem 0;
}

.header-btn-container{
    margin: 2rem 0;
}

.header-btn-container > .btn{
    padding: 1rem 2rem;
    font-size: 1.1rem;
    cursor: pointer;
}


.space{
    padding-top: 20rem;
}

.topic-heading{
    font-weight: 900;
    font-size: 2rem;
    margin: 1rem 0;
}



