.cart-page-container{
    display:flex;
    padding: 1.5rem;
    max-width: 65rem;
    margin:auto;
    justify-content: center;
}


/* Cart Summary Card */

.cart-summary-container{
    width: 18rem;
    background-color: var(--card-bg);
    margin-top: 0.5rem;
    margin-left: 1rem;
    padding: 1.5rem;
    height: max-content;
}

.cart-summary-price{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 1.5rem 0;
    font-size: 1rem;
}

.cart-summary-price-saving{
    color: var(--text-grey);
    font-size: 0.8rem;
}

.cart-summary-btn-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.cart-summary-btn-container>button{
    margin-bottom: 0.5rem;
    width: 100%
}

.product-card-btn-wrapper>.btn{
    margin-bottom: 0.5rem;
}


@media screen and (max-width:1000px) {
    .cart-page-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0rem;
        margin: 0;
    }

    .cart-summary-container{
        width: 90vw;
        margin: 1.5rem 0;
    }
}
