.sidebar {
  z-index: 1001;
  position: fixed;
  transition: all 0.5s ease-out;
  left: 0;
  padding: 2rem;
  background-color: var(--card-bg);
  overflow: hidden;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  top: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-list-container {
  list-style: none;
  padding: 0;
  margin: 4rem 0 2rem 0;
  text-align: right;
}
.sidebar-li-item {
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 0.2rem;
  margin: 0.2rem;
}

.sidebar-li-item:active {
  font-size: 1.2rem;
}

.sidebar-links {
  text-decoration: none;
  color: var(--text-default-clr);
}

.sidebar-list-container-bottom {
  list-style: none;
  margin-bottom: 10vh;
  text-align: right;
}


/* Responsive Style */

@media screen and (min-width:800px) {
    .sidebar {
        display: none;
    }
}
