@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{

    font-family: 'Poppins', sans-serif;

    /* Default colors */

    --primary-clr: #0565ff;
    --primary-hover-clr: #013d9c;
    
    --white-bg: rgb(255, 255, 255);
    --dark-bg: rgb(31, 31, 31);
    --off-white:rgb(231, 231, 231);

    --seperator-line: rgb(197, 196, 196);


    /* Default Font colors */

    --text-default-clr: black;
    --text-secondary-clr: white;
    --text-grey: rgb(161, 161, 161);

    /* Badge */
    --badge-w-txt-bg: #ff0000;
    --badge-font-clr: #ffffff;

    /* Card */
    --dismiss-btn-background: #ffffff;
    --card-bg: white; 
    --card-text-clr-over-img: white;
    --eCom-card-badge-bg: white;
    --eCom-card-secondary-text: rgb(161, 161, 161);

    /* Search bar */
    --search-bar-bg-clr: rgb(231, 231, 231);

}

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    background-color: var(--off-white);
}

.img-responsive{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/******** Badge ********/

.badge-w-txt{
    position: absolute;
    top: -0.3rem;
    left: 1rem;
    padding: 0.12rem 0.4rem;
    border: 1px solid white;
    color: var(--badge-font-clr);
    background-color: var(--badge-w-txt-bg);
    border-radius: 0.5rem;
    font-size: 0.6rem;
    width: fit-content;
}


/******** Section margins ********/

.section-gutter-lg{
    margin: 10rem;
}
.section-gutter-md{
    margin: 7rem;
}
.section-gutter-reg{
    margin: 4rem;
}
.section-gutter-sm{
    margin: 1.5rem;
}

/******** Top-Bottom margins ********/

.margin-Top-Btm-xs{
    margin: 0.5rem 0; 
}


/******** Links ********/
.link-no-decor{
    text-decoration: none;
    cursor: pointer;
    color: var(--text-default-clr);
}


/******** Buttons ********/
.btn{
    margin: 0;
    padding: 0.6rem 0.7rem;
    width: fit-content;
    box-sizing: border-box;
    text-decoration: none;
}

.pill-btn{
    border-radius: 5rem;
}

.pill-btn-lg{
    padding: 0.8rem 1.5rem;
}

.card-btn{
    width: 100%;
}

.outline-secondary-btn{
    background-color: transparent;
}


/******** Responsive media queries ********/

@media screen and (max-width:768px) {
    html {
        font-size: 12px;
    }
}

