.sidebar-wrapper{
    width: 25vw;
    height: 100%;
    background-color: var(--white-bg);
    padding: 1rem;
    border-radius: 0.2rem;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 6vh;
    overflow-y: scroll;
}

.aside-master-wrapper{
    position:fixed;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    display:none;
    background-color:#000;
    opacity:0.9;
    z-index: 50;
    overflow-y: scroll;
}

.viewAsideDiv{
    display: block;
}

.sidebar-title-cont{
    display: flex;
    margin-top: 2rem;
}


.sidebar-title{
    margin: 0;
    font-size: 1.1rem;
    /* font-weight: 600; */
}

.sidebar-reset-btn{
    color: black;
    font-size: 0.8rem;
    margin-left: auto;
    border: none;
    background-color: inherit;
    cursor: pointer
}


.sidebar-topic{
    margin: 1rem 0;
    font-size: 1rem;
}

.filter-radio{
    font-size: 0.8rem;
    display: flex;
    align-items: center;

}

.price-slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-slider-values{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.price-slider{
    width: 90%;
}

.range-slider{
    margin: 1rem 0;
    width: 100%;
}

.radio-label{
    margin-left: 0.5rem;
}

.radio-container {
    margin: 0.5rem 0;
}
.radio-container  > input{
    margin: 0;
}


.filter-section-division{
    background-color: rgb(231, 231, 231);
    padding-top: 0.01rem;
    margin: 2rem 0;
}



@media screen and (max-width:900px){
    .sidebar-wrapper{
        width: 40vw
    }
}
@media screen and (max-width:500px){
    .sidebar-wrapper{
        width: 50vw
    }
}
