
/********* Info Cards Container *******/
.collection-cards-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0;
}

.collection-card{
    display: flex;
    padding: 1.5rem;
    background-color: var(--card-bg);
    flex: 1 1 25rem;
    margin: 1rem;
    border-radius: 0.2rem;
    height: 20rem;
}

.collection-card-img-box{
    width: 45%;
    max-height: 25rem;
}

.collection-card-content{
    width: 55%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1rem;

}

.collection-card-label{
    margin: 0;
    margin-bottom: auto;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.collection-card-title{
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.collection-card-details{
    margin: 0;
    font-weight: 300;
    font-size: 1rem;
}

.collection-card-btn{
    margin-top: 0.5rem;
    cursor: pointer;
}
